name: material_navigation_demo
description: "Demo of Material Navigation"
publish_to: 'none'
version: 1.0.0
environment:
  sdk: ^3.10.0-278.0.dev
dependencies:
  flutter:
    sdk: flutter
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
flutter:
  uses-material-design: true
