name: flutterjs_seo_example
description: Example app for flutterjs_seo
# resolution: workspace
publish_to: 'none'
environment:
  sdk: '>=2.19.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
